body {
  background-color: rgb(245, 246, 248);
  font-family: Arial, Helvetica, sans-serif;
  
}

.area-login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 400px;
  height: 650px;
  border: #eb521b solid;
  border-radius: 5px;
  padding: 35px;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.login input {
  margin-top: 10px;
  background-color: #e9e8e6;
  height: 30px;
  outline: none;
  border-radius: 5px;
  color: black;
  
}

.cadastro {
  color: #f94a0b;
  justify-content: center;
}

.input::placeholder {
  font-size: 14px;
  color: black;
}

form [type="submit"] {
  display: block;
  background-color: #f94a0b;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

p {
  color: #0a0a0a;
}

a {
  color: #eb521b;
  text-decoration: none;
  margin-left: 5px;
}


