.container {
    width: 500px;
}

body {
    background-color: #F15A25;
    color: orange;
}

form{
    background-color: white;
    border-radius: 10px;
}

#header {
    color: white;
    margin: 25px;
}

#hrheader {
    color: black;
    margin: 25px;
}

b {
    color: white;
}
